/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL STYLES */

img {
    max-width: 100%;
}

a {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: #148414;
    text-decoration: underline;
}

h1 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 2.5em;

}

h2 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2em;
    text-align: center;
}

em {
    font-style: normal;
}

strong {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 3vh;
}

hr {
    border: 3px solid #005700;
}

.video {
    max-width: 100%;
}

.title_hidden {
    visibility: hidden;
    font-size: 0;
}

.title_first {
    margin-top: 4.5em;
}

.title_second {
    margin-top: 1em;
}

.image_first {
    margin-top: 20vh;
}

.info_bar {
    display: flex;
    background-color: #EEEEEE;
    border-radius: 8px 8px 8px 8px;
    margin: 1em 2em 1em 2em;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}


/* MENU */

.menu {
    position: fixed;
    top: 0; 
    width: 100%;
    z-index: 3;
}

.menu_top {
    display: flex;
    justify-content: space-between;
    height: 14vh;
    background-color: #FFFFFF;
    align-items: center;
}

.menu_logo {
    display: flex;
    margin: 1%;
    width: 5.8em;
    width: 26%;
    align-self: center;
}

.menu_button {
    margin-right: 2em;
    margin-top: 2em;
    height: 4vh;
}

.menu_bottom {
    display: grid;
    grid-template-columns: 65% 35%;
}

.menu_bottom p {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.menu_location {
    height: 2em;
    grid-column: 1;
    background-color: #EEEEEE;
    display: grid;
    grid-template-columns: 10% 90%;
}

.menu_location img {
    justify-self: right;
    align-self: center;
}

.menu_location p {
    align-self: center;
    justify-self: left;
    margin-left: 2%;
}

.menu_phone {
    grid-column: 2;
    display: grid;
    grid-template-columns: 20% 80%;
    text-align: center;
    background-color: #148414;
    align-items: center;
}

.menu_phone img {
    grid-column: 1;
    justify-self: right;
    height: 3vh;
    margin-top: 2.5px;
}

.menu_phone p {
    grid-column: 2;
    justify-self: left;
    align-self: center;
    color: #FFFFFF;
    margin-left: 4px;
    font-size: 1.1em;
}

/* OPEN MENU */

/* SOURCE/INSPIRATION: https://dev.to/cydstumpel/creating-a-fold-out-navigation-with-css-only-4g9k */

.menu_input {
    opacity: 0;
    width: 0;
    height: 0;
    appearance: none;
    position: fixed;
  }

  .menu_label {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    width: 3em;
    height: 1.3em;
    margin: 2.2em 2.2em 2.2em 2.2em;
  }
  
  .menu_label span {
    display: block;
    width: 100%;
    background: #E280A1;
    height: 3px;
    transition: transform 1s;
  }
  
  .menu_label span::before,
  .menu_label span::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    height: 2px;
    background: #E280A1;
    transition: 0.4s
  }
  
  .menu_label span::before {
    top: 0;
    height: 3px;
  }
  
  .menu_label span::after {
    top: calc(100% - 2px); /* to make the transition easier :) */
    height: 3px;
  }

  .menu_list {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(100vw);
    transition: transform 0.2s;
    background: white;
    list-style-type: none;
    display: grid;
    grid-template-rows: 9vh 9vh 9vh 9vh 9vh 9vh 9vh;
    row-gap: .5em;
    height: 100vh;
    padding: 5em 3em 3em 3em;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.menu_list_item {
  font-family: 'Raleway', sans-serif;
  font-size: 3.5vh;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.menu_list_button {
    display: flex;
    border: 1px solid #E280A1;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #E280A1;
    border-radius: 8px 8px 8px 8px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 3.5vh;
    padding: 1.8vh 2.3vh;
    color: #ffffff;
    text-align: center;
    justify-self: center;
}

  .menu_input:checked + .menu_label span {
    transform: rotate(45deg);
  }
  
  .menu_input:checked + .menu_label span::before, .menu_input:checked + .menu_label span::after {
    top: calc(50% - 2px);
    transition: 0.4s;
  }
  .menu_input:checked + .menu_label span::after {
    transform: rotate(90deg);
  }

  .menu_input:checked ~ ul {
    transform: none;
    transition: transform 0.4s; 
  }

/* FOOTER */

.footer_illustration {
    display: flex;
    margin-bottom: 2em;
}

.footer_some {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4em;
    margin: 2.5em 0 1em 0;
}

.footer_some_item {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: black;
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
}

.footer_some_item img {
    height: 2.5em;
}

.footer_some_item p {
    margin-top: .5em;
    font-size: 2vh;
}

.footer_contact {
    display: grid;
    grid-template-columns: 37% 26% 37%;
    background-color: #148414;
    height: 3em;
    position: relative;
}

.footer_contact_location {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
}

.footer_contact_location img {
    grid-column: 1;
    height: 50%;
    justify-self: center;
}

.footer_contact_location p {
    grid-column: 2;
    font-family: 'Quicksand', sans-serif;
    font-size: 2vh;
    color: #ffffff;
    justify-self: left;
}

.footer_logo {
    grid-column: 2;
    position: absolute; 
    bottom: 0%;
    right: 60%;
    width: 5.5em;
}

.footer_contact_phone {
    grid-column: 3;
    display: grid;
    grid-template-columns: 20% 80%;
    text-align: center;
    align-items: center;
}

.footer_contact_phone img {
    grid-column: 1;
    justify-self: center;
    margin-left: .3em;
    height: 3.5vh;
}

.footer_contact_phone p {
    text-align: left;
    grid-column: 2;
    font-family: 'Quicksand', sans-serif;
    font-size: 3vh;
    font-weight: 400;
    color: #ffffff;
    margin-left: 2%;
}





/* FRONT PAGE */

.front_text  {
    font-family: 'Quicksand', sans-serif;
}

/* HERO SECTION */

.hero {
    margin-top: 20vh;
}

.tagline {
    display: flex;
    margin: 1.5em auto;
    width: 21em;
    align-self: center;
    justify-self: center;
}

/* BENEFITS SECTION */

.benefits {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 0em 4em 0em;
    padding: 0 .5em 0 .5em;
    justify-items: center;
}

.benefits strong {
    font-weight: 600;
    font-size: 3vh;
}

.benefits_card {
    display: grid;
    grid-template-rows: 1fr .5fr 3fr;
    background-color: #EEEEEE;
    border-radius: 15px 15px 15px 15px;
    margin: .5em;
    text-align: center;
    justify-content: center;
}

.benefits_card img {
    justify-self: center;
    margin: 1em;
}

.benefits_card p {
    font-size: 2vh;
    margin: 1em 1.5em 2em 1em;
}

/* WE OFFER SECTION */

.weoffer {
    margin-top: 4em;
}

.weoffer_points {
    margin: 2em auto;   
}

.weoffer_points_item {
    display: flex;
    justify-self: center;
    margin: 2em auto;
    justify-content: center;
}

.weoffer_points_item img {
    margin-right: .5em;
}
    
.weoffer_image {
    margin-top: 2em;
}

/* QUOTES SECTION */

.quotes {
    margin: 4em auto;
}

.quotes_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1em 2.5em 0 2.5em;
    justify-content: center;
}

.quotes_container_item {
    text-align: center;
    margin: 0 2em 0 2em;
}

.quotes_container_item img {
    margin: 2em 0 .5em 0;
}

.quotes_container_item_source {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-style: italic;
    margin-top: 1em;
}





/* LOCATION PAGE */

.location_text {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

/* GOOGLE MAPS SOURCE/INSPIRATION: https://www.embedgooglemap.net */
/* GOOGLE MAPS SECTION */

.gmap_container {
    position: relative;
    text-align: right;
    /*height: 240px;
    width: 360px;*/
    margin: 2em 0 1em 0;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    /*height: 240px;
    width: 360px;*/
}

.gmap_container iframe {
    width: 100%; 
    height: 240px;
}

/* MAP SECTION */

.location_map_image {
    margin-top: 3em;
}

.location_map_address {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
    width: 83vw;
    height: 7vh;
    border-radius: 8px 8px 8px 8px;
    margin: .5em auto 0 auto;
}

.location_map_address img {
    margin-right: .5em;
    height: 4vh;
}

.location_map_address p {
    font-size: 3vh;
}

/* ROUTE MAP SECTION */

.location_routemap {
    margin-top: 5em;
    justify-content: center;
}

.location_routemap p, .location_slideshow p {
    margin: 1em auto 2em auto;
}

.location_routemap em {
    text-transform: uppercase;
    font-size: 3vh;
}

.location_routemap_image {
    width: 100%;
}

.location_routemap_symbols {
    display: grid;
    grid-template-columns: 45% 55%;
    margin: .5em .5em 0 .5em;
    column-gap: .2em;
    justify-items: center;
    text-align: center;
}

.location_routemap_symbol {
    display: flex;
    background-color: #EEEEEE;
    align-items: center;
    justify-content: center;
    width: 43vw;
    height: 7.5vh;
    border-radius: 8px 8px 8px 8px;
}

.location_routemap_symbol img {
    margin-right: .5em;
}

.location_routemap_symbols section:nth-of-type(2) {
    width: 50vw;
}

/* ON A TRIP SLIDESHOW SECTION */

.location_slideshow {
    margin: 5em 0 4em 0;
}

.location_slideshow p {
    width: 70vw;
    text-align: center;
}




/* FACILITIES PAGE */

.facilities_text {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.facilities {
    margin-bottom: 4em;
}

/* FACILITIES SUBMENU SECTION */

.facilities p:first-child {
    margin: 2em 2em 1.5em 2em;
}

.facilities_submenu {
    display: grid;
    justify-items: center;
    list-style-type: none;
    row-gap: 3em;
    margin-top: 3em;
}

.facilities_submenu_item {
    justify-self: center;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 3.2vh;
}

/* STABLES SECTION */

.facilities video {
    margin-top: 20vh;
}

.facilities h2 {
    margin: 3em 0 1.5em 0;
}

.facilities_stables {
    display: grid;
}

.facilities_stables strong {
    display: flex;
    text-align: center;
    margin: 2em auto 0 auto;
}

.facilities_stables_size {
    justify-content: center;
    margin-top: 1em;
}

.facilities_stables img:nth-of-type(3) {
    margin-top: 2em;
}

/* FIELDS SECTION */

.facilities_fields {
    display: grid;
    justify-items: center;
}

.facilities_fields_info {
    display: grid
}

.facilities_fields strong {
    text-transform: uppercase;
    text-align: center;
    margin: 2em 0 1.5em 0;
    font-size: 4vh;
}

.facilities_fields_info section:first-of-type {
    margin-top: 3em;
}

.facilities_fields_hours {
    display: grid;
    background-color: #EEEEEE;
    margin: 0 1.5em 3em 1.5em;
    padding: 1.5em;
    border-radius: 12px 12px 12px 12px;
    justify-content: center;
}

.facilities_fields_hours em {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    justify-self: center;
    font-size: 2.5vh;
}

.facilities_fields_hours p {
    font-size: 4vh;
    margin-top: .5em;
}




/* INFORMATION PAGE */

.information_text {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.information h2 {
    margin: 2.5em 0 1em 0;
}

/* INFORMATION DESCRIPTION SECTION */ 

.information_description {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 1em;
    margin: 2em 2em 0 2em;
    text-align: center;
}

.information_description span {
    font-weight: 500;
}

/* INFORMATION PRICES SECTION */

.information_prices {
    justify-content: center;
    margin-top: 1em;
}

.information_prices section {
    margin: 2em 1.5em 2em 1.5em;
}

.information_priceincludes {
    display: grid;
    text-align: center;
    margin-top: 3em;
}

.information_priceincludes strong {
    margin-bottom: 1em;
}

.information_priceincludes_item {
    display: flex;
    justify-self: center;
    margin: 1em auto;
    justify-content: center;
}

.information_priceincludes_item img {
    margin-right: .5em;
}

/* RULES AND GUIDELINES SECTION */

.information_rules {
    display: grid;
    row-gap: 2.5em;
    margin: .5em 2em 4em 2em;
}

.information_rules_item {
    display: grid;
    grid-template-rows: 1fr 3fr;
    align-items: center;
    justify-items: center;
    row-gap: 1em;
}





/* ABOUT US PAGE */

.aboutus_text {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

/* ABOUT US DESCRIPTION SECTION */

.aboutus_description {
    display: grid;
    row-gap: 1em;
    margin: 2em 1.5em 3em 1.5em;
    text-align: center;
    align-content: center;
}

.aboutus_description_mission {
    background-color: #EEEEEE;
    margin: 2em 1.5em 2em 1.5em;
    padding: 1.5em;
    border-radius: 12px 12px 12px 12px;
}

.aboutus_description_mission strong {
    text-transform: uppercase;
}

.aboutus_description_mission p {
    margin-top: 1em;
}

.aboutus_description_mission span {
    font-weight: 600;
}

/* WE LOVE HORSES SLIDESHOW SECTION */

.aboutus_slideshow {
    margin-bottom: 4em;
}

.aboutus_slideshow p {
    margin: 1em 1.5em 2em 1.5em;
}





/* WAITING LIST PAGE */

.waitinglist_text {
    font-family: 'Quicksand', sans-serif;
}

/* WAITING LIST INFO SECTION */

.waitinglist_info {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 5fr 2fr;
    margin: 2em 2em 0 2em;
    text-align: center;
    align-items: center;
    row-gap: 1em;
}

/* WAITING LIST SIGN UP SECTION */ 

.waitinglist_signup {
    margin: 3.5em 0 4em 0;
    display: grid;
}

.waitinglist_signup label {
    margin-bottom: 1em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 3vh;
    text-transform: uppercase;
    text-align: center;
}

.waitinglist_signup input {
    width: 45vh;
    height: 6vh;
    align-self: center;
    justify-self: center;
    text-align: center;
    border: 1px solid #148414;
    border-radius: 8px 8px 8px 8px;
    outline-color: #148414;
}

.waitinglist_signup input:first-of-type {
    margin-bottom: 3em;
}

.waitinglist_signup input::placeholder {
    font-family: 'Quicksand', sans-serif;
}

#modal_button {
    display: flex;
    border: 1px solid #E280A1;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #E280A1;
    border-radius: 8px 8px 8px 8px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 3vh;
    padding: 1.8vh 2.3vh;
    color: #ffffff;
    text-align: center;
    margin: 3em auto 4em auto;
    justify-self: center;
}

/* WAITING LIST MODAL BOX */

/* SOURCE/INSPIRATION: https://www.w3schools.com/howto/howto_css_modals.asp */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal_content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 2em 2em 3em 2em;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    display: grid;
  }

  .modal_content strong {
      font-weight: 700;
      font-size: 5vh;
      text-transform: uppercase;
      text-align: center;
      margin-top: 1.5em;
  }

  .modal_content p {
      font-family: 'Quicksand', sans-serif;
      text-align: center;
      margin-top: .5em;
  }
  
  /* The Close Button */
  .modal_close {
    color: #E280A1;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .modal_close:hover,
  .modal_close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  




/* CONTACT PAGE */

.contact_text, .contact em {
    font-family: 'Quicksand', sans-serif;
}


/* CONTACT TEXT SECTION */

.contact_description {
    text-align: center;
    margin: 2em 1.5em 0 1.5em;
}

.contact_description p {
    font-size: 2.5vh;
    margin: 1em auto;
}

.contact_description p:nth-of-type(2) {
    font-size: 3vh;
}

.contact_description_hours {
    display: flex;
    background-color: #EEEEEE;
    padding: 1em;
    width: 8em;
    border-radius: 20px 20px 20px 20px;
    justify-content: center;
    justify-self: center;
    margin: 3em auto;
}

.contact_description_hours em {
    font-weight: 500;
    font-size: 4.5vh;
}

/* CONTACT INFO SECTION */

.contact_info {
    margin-top: 4em;
    text-align: center;
    display: grid;
}

.contact_info strong:first-child {
    font-size: 3vh;
    text-transform: uppercase;
    margin-bottom: .5em;
}  

.contact_info_container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: .5em;
    margin-bottom: 2.5em;
}

.contact_info_container em {
    font-weight: 400;
    font-size: 3.5vh;
    margin-top: .5em;
}

.contact_button {
    display: flex;
    border: 1px solid #148414;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #148414;
    border-radius: 8px 8px 8px 8px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 2.2vh;
    padding: 1.6vh 2vh;
    color: #ffffff;
    align-content: center;
    margin-top: 1.7em;
}

.contact_button_attention {
    border: 1px solid #E280A1;
    background-color: #E280A1;
    margin-bottom: 2em;
}

.contact_info_mail a {
    margin-top: 0em;
}

.contact_button img {
    margin-right: .3em;
}

.contact_button_phone {
    height: 1.2em;
}

.contact_info_phone, .contact_info_mail {
    border: .5px solid #148414;
    border-radius: 8px 8px 8px 8px;
    width: 16em;
    height: 20em;
    justify-self: center;
    align-content: center;
}

.contact_info_phone {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 3.5em;
    padding-top: 1em;
}

.contact_info_mail {
    display: grid;
    grid-template-rows: 20% 35% 25%;
    justify-items: center;
    align-items: center;
    margin-top: 2em;
    padding-top: .5em;
}





/* MEDIA QUERIES FOR MOBILE */

@media (min-width: 370px) {

    /* MENU */

    .menu_logo {
        margin: 1%;
        width: 23%;
    }

}

@media (min-width: 390px) {

    /* FOOTER */

    .footer_logo {
        margin-right: .3em;
    }

}

@media (min-height: 690px) {

    /* MENU */

    .menu_label {
        margin: 2.3em 2.2em 2.2em 2.2em;
    }

    /* FRONT */

    .hero video {
        margin-top: -1%;
    }

}

@media (min-height: 720px) {

    /* MENU */

    .menu_label {
        margin: 2.3em 2.2em 2.2em 2.2em;
    }

    /* FRONT */

    .hero video {
        margin-top: -2%;
    }

}

@media (min-height: 760px) {

    /* MENU */

    .menu_label {
        margin: 10%;
    }

    .menu_phone img {
        height: 3.5vh;
    }

}

@media (min-height: 749px) {

    /* GENERAL STYLES */ 

    .image_first {
        margin-top: 19vh;
    }

    /* MENU */

    .menu_logo {
        margin: 1%;
        width: 26%;
    }

    .menu_phone img {
        height: 2.8vh;
    }

    /* FOOTER */

    .footer_contact_location p {
        font-size: 1.8vh;
    }

    .footer_contact_phone p {
        font-size: 2.8vh;
    }

    /* FRONT */

    .hero video {
        margin-top: -2vh;
    }

    /* FACILITIES */

    .facilities video {
        margin-top: 19vh;
    }

    /* CONTACT */

    .contact_description_hours {
        width: 9em;
    }

    .contact_info_phone {
        margin-top: 4.5em;
    }

    .contact_info_phone, .contact_info_mail {
        width: 18em;
        height: 22em;
    }

}

@media (min-height: 788px) {

    /* MENU */

    .menu_label {
        margin-top: 3em;
    }

    .menu_phone img {
        height: 2.5vh;
    }

    /* WAITING LIST */

    .waitinglist_info {
        grid-template-rows: 1fr 1fr 1fr 2fr 1fr;
    }

    .waitinglist_signup {
        margin-top: 5em;
    }

    .waitinglist_signup input {
        width: 40vh;
    }


}

@media (min-height: 814px) {

    /* GENERAL STYLES */

    .title_first {
        margin-top: 5em;
    }

    .image_first {
        margin-top: 18vh;
    }

    /* FOOTER */

    .footer_contact_phone p {
        font-size: 2.5vh;
        margin-left: -.2em;
    }

    .footer_contact_phone img {
        height: 3vh;
        margin-left: -.5em;
    }

    .footer_contact_location p {
        font-size: 1.5vh;
    }

    /* FRONT */

    .benefits_card {
        height: 45vh;
    }

    /* LOCATION */

    .location_map_address p {
        font-size: 2.5vh;
    }

    /* FACILITIES */

    .facilities video {
        margin-top: 18vh;
    }

    .facilities_submenu_item {
        font-size: 1.5em;
    }

    /* CONTACT */

    .contact_description_hours {
        width: 10em;
    }

    .contact_info_container em {
        font-size: 3vh;
    }

    .contact_info_phone {
        padding-top: 2em;
    }
}

@media (min-height: 880px) {

    /* MENU */

    .menu_label {
        margin-top: 3.5em;
    }

}